DATABASE_URL="postgresql://username:password@localhost:5432/database"
PRISMA_API_URL="your_prisma_api_url_here"
HOST=localhost
REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=your_jwt_secret_here
PORT=3000
CLIENT_URL=http://localhost:5173
OPENROUTER_API_KEY=your_openrouter_api_key_here
